<?xml version="1.0" encoding="utf-8"?>
<Settings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.microsoft.com/2011/01/fabric">
   <Section Name="VisualObjects.ActorServiceReplicatorConfig">
      <Parameter Name="ReplicatorEndpoint" Value="VisualObjects.ActorServiceReplicatorEndpoint" />
      <Parameter Name="BatchAcknowledgementInterval" Value="0.005" />
   </Section>
   <Section Name="VisualObjects.ActorServiceReplicatorSecurityConfig">
      <Parameter Name="CredentialType" Value="None" />
   </Section>
   <Section Name="VisualObjects.ActorServiceLocalStoreConfig">
      <Parameter Name="MaxAsyncCommitDelayInMilliseconds" Value="100" />
      <Parameter Name="MaxVerPages" Value="32768" />
   </Section>
   <Section Name="VisualObjects.TimerFrequency">
   	   <Parameter Name="TimerInvocationIntervalInMilliseconds" Value="200" />
   </Section>
<Section Name="VisualObjects.ActorServiceTransportSettings">
     <Parameter Name="MaxMessageSize" Value="10000000" />
     <Parameter Name="SecurityCredentialsType" Value="X509" />
     <!--<Parameter Name="CertificatePath" Value="/var/lib/sfcerts/E4CDA2FB3A37740FEA3EE23C4EB3190B19915923.crt" /> -->
     <Parameter Name="CertificateProtectionLevel" Value="EncryptandSign" />
     <Parameter Name="CertificateRemoteThumbprints" Value="F52F105F29E1C4A538A96228EC81ACD5FBE03D0C" />
     <Parameter Name="CertificateFindType" Value="FindByThumbprint" />
     <Parameter Name="CertificateFindValue" Value="F52F105F29E1C4A538A96228EC81ACD5FBE03D0C" />

 </Section>
</Settings>
