<?xml version="1.0" encoding="utf-8"?>
<Settings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.microsoft.com/2011/01/fabric">
   <Section Name="VisualObjects.ActorServiceReplicatorConfig">
      <Parameter Name="ReplicatorEndpoint" Value="VisualObjects.ActorServiceReplicatorEndpoint" />
      <Parameter Name="BatchAcknowledgementInterval" Value="0.005" />
   </Section>
   <Section Name="VisualObjects.ActorServiceReplicatorSecurityConfig">
      <Parameter Name="CredentialType" Value="None" />
   </Section>
   <Section Name="VisualObjects.ActorServiceLocalStoreConfig">
      <Parameter Name="MaxAsyncCommitDelayInMilliseconds" Value="100" />
      <Parameter Name="MaxVerPages" Value="32768" />
   </Section>
   <Section Name="VisualObjects.TimerFrequency">
   	   <Parameter Name="TimerInvocationIntervalInMilliseconds" Value="200" />
   </Section>
<Section Name="VisualObjects.ActorServiceTransportSettings">
     <Parameter Name="MaxMessageSize" Value="10000000" />
     <Parameter Name="SecurityCredentialsType" Value="X509_2" />
     <Parameter Name="CertificatePath" Value="/tmp/certs/B4DF6BA914A958A7F0552DD1432665F2816E8600.crt" />
     <Parameter Name="CertificateProtectionLevel" Value="EncryptandSign" />
     <Parameter Name="CertificateRemoteThumbprints" Value="B4DF6BA914A958A7F0552DD1432665F2816E8600" />
 </Section>
</Settings>
