<?xml version="1.0" encoding="utf-8" ?>
<Settings
    xmlns="http://schemas.microsoft.com/2011/01/fabric"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <Section Name="VisualObjectsBoxSettings">
    <Parameter Name="ServiceName" Value="VisualObjects.ActorService" />
    <Parameter Name="ObjectCount" Value="3"/>
  </Section>
  <Section Name="TransportSettings">
     <Parameter Name="MaxMessageSize" Value="10000000" />
     <Parameter Name="SecurityCredentialsType" Value="X509_2" />
     <Parameter Name="CertificatePath" Value="" />
     <Parameter Name="CertificateProtectionLevel" Value="EncryptandSign" />
     <Parameter Name="CertificateRemoteThumbprints" Value="B4DF6BA914A958A7F0552DD1432665F2816E8600" />
 </Section>
</Settings>
